form{
    border: solid 1px;
    width: 600px;
    margin-left: 250px;
    background-color: aqua;
    padding-left: 20px;
}
h1{
    color:brown;
    font-size: 50px;
    text-align: center;
}
p{
    color: black;
    font-size: 18px;
}
label{
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
input{
    height: 40px;
    width: 350px;
    border-radius: 10px;
}
textarea{
    height: 50px;
    width:360px ;
    border-radius: 10px;
}
button{
    height: 40px;
    width: 200px;
    background-color: darkcyan;
    border-radius: 20px;
    color: aliceblue;
}